h1 {
  text-align: center;
  font-size: 90px;
}
h4 {
  text-align: center;
}
body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(background_img1.jpg);
  background-color:transparent;
}
h2 {
  font-family: 'Satisfy', cursive;
  color: rgba(229, 240, 192, 1);
}
p1 {
  color: rgba(229, 240, 192, 1);
}
.jumbotron-fluid {
  background-color: rgba(12, 38, 38, 0.60);
}
