.jumbotron {
  background-color: rgba(12, 38, 38, 0.90);
}
h1 {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Monoton', cursive;
}
h4 {
  text-align: center;
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  color: rgba(229, 240, 192, 1 );
}
body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(background_img1.jpg);
  background-color:transparent;
}
h2 {
  font-family: 'Satisfy', cursive;
  color: rgba(229, 240, 192, 1);
  text-align: center;
}
p1 {
  color: rgba(229, 240, 192, 1);
  text-align: center;
}
.jumbotron-fluid {
  background-color: rgba(12, 38, 38, 0.60);
}
.nav-link{
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Monoton', cursive;
  color: rgba(22, 18, 22, 0.98);
}
